<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834229780666-aq6bphe1gconmdnv5ianiemtlsj8rukd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834229780666-aq6bphe1gconmdnv5ianiemtlsj8rukd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834229780666-rcds2qju39i14nadnqk0fv6rhh6f9ej8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmEsaMx8PfMyvoYQwalGETKIhIbl2LfWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>834229780666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.puntoettore.fidelity.ModacenterFidelity</string>
	<key>PROJECT_ID</key>
	<string>modacenterfidelity-3b7af</string>
	<key>STORAGE_BUCKET</key>
	<string>modacenterfidelity-3b7af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834229780666:ios:9233389e1810960c638283</string>
</dict>
</plist>